mixin header(obj = {})
    -
        obj = {...{
            tag: 'header',
            href: '#',
            src: './images/logo.svg',
            hrefPhone: '#',
            phone: '+7 (800) 775–04–99',
            items: [
                {
                    href: '#',
                    text: 'Студентам'
                },
                {
                    href: '#',
                    text: 'Профессионалам'
                },
                {
                    href: '#',
                    text: 'Вакансии'
                },
                {
                    href: '#',
                    text: 'Мы ВКонтакте'
                }
            ]
        }, ...obj}
    #{obj.tag}.header&attributes(attributes)
        .container
            a.header__logo.logo(href=obj.href)
                img(src=obj.src, alt="logo")
            button.header__menu-burger.burger-menu
                span.burger-menu__item
                span.burger-menu__item
                span.burger-menu__item
            .header__menu.menu-box
                nav.menu
                    each item in obj.items
                        a.menu__item(href=item.href) !{item.text}
            a.header__phone(href=obj.hrefPhone) !{obj.phone}